<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
  </head>
  <body>

    # ng-init="tint1='John111'"/ng-bind="tint1"
    <div ng-app="myApp" data-ng-init="tint1='John111'">

      <div>
        <p>姓名为 <span data-ng-bind="tint1"></span></p>
        <h1>Hello {{tint1}}</h1>
      </div>
      <hr>
      <div>
        <p>名字1 : <input type="text" ng-model="name" /></p>
        <h1>Hello {{name}}</h1>

        <hr>
        Your name: <input type="text" ng-model="yourname" placeholder="World"><br/>
        Hello {{yourname || 'World'}}!
      </div>

      <hr>
      <div ng-controller="MyNameCtrl">
        名: <input type="text" ng-model="firstName"><br>
        姓: <input type="text" ng-model="lastName"><br>
        <br>
        姓名: {{firstName + " " + lastName}}
      </div>

      <hr>
      <div ng-controller="MyPhsCtrl">
        <ul>
          <li ng-repeat="phone in phones">
            {{phone.name}}
            <p>{{phone.snippet}}</p>
          </li>
        </ul>
      </div>

      <hr>
      <div ng-controller="DemoController">
        <h4>The simplest adding machine ever</h4>
        <button ng-click="add(1)" class="button">Add</button>
        <button ng-click="subtract(1)" class="button">Subtract</button>
        <h4>Current count: {{ counter }}</h4>
      </div>

      <hr>
      <div ng-controller="PlayerController">
        <h4>The simplest adding machine ever</h4>
        <button ng-click="dyapi_ajax(1)" class="button">dyapi_ajax</button>
        <button ng-click="dyapi(11)" class="button">dyapi</button>
        <button ng-click="dyaction(133)" class="button">dyaction</button>
        <h4>CallbackData: {{ ssdata }}</h4>
      </div>

    </div>
    <hr>

    <script type="text/javascript">
var myApp = angular.module('myApp', []);
    // .config(function($httpProvider) {
    //     $httpProvider.defaults.headers.common["FROM-ANGULAR"] = "true";
    //     $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
    // });
myApp.controller('MyNameCtrl', function($scope) {
  $scope.firstName= "John";
  $scope.lastName= "Doe";    
});
myApp.controller('MyPhsCtrl', function($scope) {
  $scope.phones = [
  {"name": "Nexus S",
    "snippet": "Fast just got faster with Nexus S."},
  {"name": "Motorola XOOM™ with Wi-Fi",
    "snippet": "The Next, Next Generation tablet."},
  {"name": "MOTOROLA XOOM™™™™",
    "snippet": "The Next, Next Generation tablet."}
  ];
});

myApp.controller('DemoController', function($scope) {
  $scope.counter = 0;
  $scope.add = function(amount) { $scope.counter += amount; };
  $scope.subtract = function(amount) { $scope.counter -= amount; };
});

var t_api = "http://127.0.0.1:3000/api/dooptest/s2.json"
var t_acn = "http://127.0.0.1:3000/jsdyapis" // OK
myApp.controller('PlayerController', function($scope, $http) {
  // alert(111);
  $scope.dyapi_ajax = function(amount) { 
    alert(amount);
    jQuery.support.cors = true;
    $.ajax({
      type: "GET",
      url: t_api,
      // contentType: "application/x-www-form-urlencoded",
      // contentType: "application/json",      
      data: {},
      dataType: "json", 
      success: function(data) {
        // alert(data);
        alert(angular.toJson(data));
      },
      timeout:30000, 
      error: function(data, status) {
        alert(angular.toJson(data));
        alert("status:"+status);
      }
    });
  };

  $scope.dyapi = function(amount) { 
    alert(amount);
    $http({
      method: 'get',
      // method: 'jsonp',
      url: t_api,
      // contentType: "application/x-www-form-urlencoded", // contoller_ation ok
      contentType: "application/json", // contoller_ation ok
      params: {a:1},
      data: {},
      dataType: "json" // contoller_ation ok
      // dataType: "jsonp" // contoller_ation ok
    }).success(function(data, status, headers, config){
      // alert(data);
      alert(angular.toJson(data));
    }).error(function(data, status, headers, config) {  
      //处理错误  
      alert("status:"+status);
    }); 
  };

  $scope.dyaction = function(amount) { 
    alert(amount);
    $http({
      method: 'get',
      // method: 'jsonp',
      url: t_acn,
      // contentType: "application/x-www-form-urlencoded", // contoller_ation ok
      contentType: "application/json", // contoller_ation ok
      params: {a:1},
      data: {},
      dataType: "json" // contoller_ation ok
      // dataType: "jsonp" // contoller_ation ok
    }).success(function(data, status, headers, config){
      // alert(data);
      alert(angular.toJson(data));
    }).error(function(data, status, headers, config) {  
      //处理错误  
      alert("status:"+status);
    }); 
  };
});
    </script>
  </body>
</html>
